body{
    background-color: #1E1E1E;
    font-family: Helvetica, serif;
    color: white;
    /*font-size: 3rem;*/
    margin: 0;

    font-size: 18px;
}
.extraClass{
    background-color: #EAEAEA;
    color: black;
}
h1{
    margin: 0;
    font-size: 7rem;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    margin: 0 30px;
}

.explImage{
    width: 100%;
    border-radius: 5px;

    height: 400px;
    object-fit: cover;
}

.center-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px
}

header p{
    text-align: center;
}

button{
    padding: 15px 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 48px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #0a2463;
    background-color: #0a2463;
    position: relative;
}

a{
    text-align: center;
    background-color: #0a2463;
}

.play-container {
    margin: 200px 100px;
    text-align: center;
}

.play-section {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.play-button {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.button-playrules:hover {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

#text-field{
    text-align: center;
}

#body{
    padding: 40px 20px;
}

@media(max-width: 480px){
    header div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    header{
        height: unset;
    }

    header h1{
        font-size: 4.5rem;
    }
}